{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}

{% endblock scripts %}

{% block title %}
{{trip.trip_name}} details
{% endblock title %}


{% block content %}
<h2><u>{{trip.trip_name}} Overview</u></h2>
<strong><u>Destination:</u></strong>    {{trip.destination}}<br>
<strong><u>Arrival Date:</u></strong>    {{trip.date_arrived}}<br>
<strong><u>Departure Date:</u></strong>  {{trip.date_departed}}<br>
<strong><u>Hotel:</u></strong>   {{trip.hotel}}<br>


<form action="" method="POST" id="delete-trip-btn">
    {% csrf_token %}
    <input type="hidden" name="delete" value="del">
    <button type="submit" class="btn btn-outline-danger" id="detail-delete-button">Delete Trip</button>
</form>

<hr>
<h3>Days:</h3>

<div class="row">
    {% for day in days %}
        <div class="col ">
            <div class="detail-container bg-dark bg-gradient mb-3">
                Ski Area: {{day.ski_area}}<br>
                Date: {{day.date}}<br>
                Restaurant: {{day.restaurant}}<br>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group p-1" role="group">
                        <a href="{% url 'days:edit-day' day.id %}" class="btn btn-outline-primary mb-2 mt-1"> Edit </a>
                    </div>
                    <div class="btn-group p-1" role="group">
                        <form action="" method="POST" id="delete-day-btn">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{day.pk}}">
                            <button type="submit" class="btn btn-outline-danger mb-2 mt-1">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% if forloop.counter|divisibleby:4 %}
        <hr>
        <div><div class="row">

    {% endif %}
    {% endfor %}
</div>


<div class="trip-detail-button">
    <a href="{% url 'days:add-day' trip.id %}" class="btn btn-primary btn-lg">
        Plan another day
    </a>
</div>

{% endblock content %}